name: SISMIP-CI

on: 
  [push]
#   push:
#     branches: 
#       - develop
#     paths: 
#       - SISMIP_BACKEND/*

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd SISMIP_BACKEND
    - run: npm install
    - run: npm run build --if-present
    - run: npm run start --if-present
    - run: npm test
      env:
        CI: true
        NODE_ENV: dev
